.feedback-block {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.6;
}

.red {
  color: #ff6b6b;
}

.green {
  color: #35c28d;
}
/* ===== MIXED: ORDER ===== */

.order-zone {
  display: flex;
  flex-direction: column;
  gap: 14px; /* 🔥 KLUCZOWE – odstęp między rzędami */
}

.order-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.order-row:first-child {
  padding-bottom: 6px;
  border-bottom: 1px dashed rgba(255,255,255,0.2);
}
